<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.mapper.OrderMapper">
	<select id="findOrderById" resultMap="orderRM">
        select * from tb_order where order_id = #{id}
    </select>
    <resultMap id="orderRM" type="Order" autoMapping="true">
        <id column="order_id" property="orderId"/>
        <!--一对一封装-->
        <association property="orderShipping" javaType="OrderShipping"
                     column="order_id" select="findOrderShipping"></association>
        <collection property="orderItems" ofType="OrderItem"
                    column="order_id" select="findOrderItem"></collection>
    </resultMap>

    <select id="findOrderShipping" resultType="OrderShipping">
        select * from tb_order_shipping where order_id = #{id}
    </select>

    <select id="findOrderItem" resultType="OrderItem">
        select * from tb_order_item where order_id = #{id}
    </select>

</mapper>